:root {
    --undpds-color-blue-100: #b5d5f5;
    --undpds-color-blue-200: #94c4f5;
    --undpds-color-blue-300: #6babeb;
    --undpds-color-blue-400: #4f95dd;
    --undpds-color-blue-500: #3288ce;
    --undpds-color-blue-600: #0468b1;
    --undpds-color-blue-700: #1f5a95;
    --undpds-color-blue-800: #0468b1;
    --undpds-color-gray-100: #fafafa;
    --undpds-color-gray-200: #f7f7f7;
    --undpds-color-gray-300: #edeff0;
    --undpds-color-gray-400: #d4d6d8;
    --undpds-color-gray-500: #a9b1b7;
    --undpds-color-gray-600: #55606e;
    --undpds-color-gray-700: #232e3d;
    --undpds-color-light-yellow: #ffe17e;
    --undpds-color-yellow: #ffeb00;
    --undpds-color-dark-yellow: #fbc412;
    --undpds-color-light-red: #ffbcb7;
    --undpds-color-red: #ee402d;
    --undpds-color-dark-red: #d12800;
    --undpds-color-light-green: #b8ecb6;
    --undpds-color-green: #6de354;
    --undpds-color-dark-green: #59ba47;
    --undpds-color-light-azure: #a2daf3;
    --undpds-color-azure: #60d4f2;
    --undpds-color-dark-azure: #00c1ff;
    --undpds-color-light-pink: #ffb4ae;
    --undpds-color-silvery-moonlight: #ced0d3;
    --undpds-color-shuttle-gray: #55606f;
    --undpds-color-ebony-clay: #232e3e;
    --undpds-header-height-xlarge: 115px;
    --undpds-header-height-medium: 75px;
    --undpds-yellow-gradient: #ffeb00 30%, rgba(255, 235, 0, 0) 110%;
    --undpds-red-gradient: #ee402d 30%, rgba(240, 49, 49, 0) 110%;
    --undpds-green-gradient: #6de354 30%, transparent 110%;
    --undpds-blue-gradient: #60d4f2 30%, rgba(101, 204, 244, 0) 110%;
    --undpds-sdg-red: #e5243b;
    --undpds-sdg-mustard: #dda63a;
    --undpds-sdg-kelly-green: #4c9f38;
    --undpds-sdg-dark-red: #c5192d;
    --undpds-sdg-red-orange: #ff3a21;
    --undpds-sdg-bright-blue: #26bde2;
    --undpds-sdg-yellow: #fcc30b;
    --undpds-sdg-burgundy-red: #a21942;
    --undpds-sdg-orange: #fd6925;
    --undpds-sdg-magenta: #dd1367;
    --undpds-sdg-golden-yellow: #fd9d24;
    --undpds-sdg-dark-mustard: #bf8b2e;
    --undpds-sdg-dark-green: #3f7e44;
    --undpds-sdg-blue: #0a97d9;
    --undpds-sdg-lime-green: #56c02b;
    --undpds-sdg-royal-blue: #00689d;
    --undpds-sdg-navy-blue: #19486a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, sans-serif;
    background-color: #f2f1ee;
    color: #111;
}

.navbar {
    padding: 2rem;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    /*add blur*/
    top: 1rem;
    left: 20%;
    right: 20%;
    border-radius: 0.8rem;
    width: 60%;
    transform: scaleX(0);
    z-index: 1;
    transform-origin: left;
    transition: all 1s ease;
}

.navbar.open {
    transform: scaleX(1);
}

.navbar nav {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar.open nav {
    opacity: 1;
    transform: translateY(0);
}

.navbar .nav-left {
    margin-right: auto;
    padding: 0 4rem;
}

.navbar .nav-right {
    margin-left: auto;
    padding: 0 4rem;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    padding: 0px 20px;
}

img {
    border-style: none;
}

.navbar .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.navbar .logo img {
    height: 80px;
}

.navbar nav a {
    text-decoration: none;
    color: #0a0a0a;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar nav a:hover {
    color: #555;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
}


.heading-mask {
    overflow: hidden;
    height: 3.5rem; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    opacity: 0;
    transform: translateY(150px);
    transition: all 1s ease;
}

.hero.show h1 {
    opacity: 1;
    transform: translateY(0);
}

.explore-btn {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s 1s ease;
    background-color: var(--undpds-color-blue-700);
    text-transform: uppercase;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 0.6rem;
    color: #ffffff;
    border-radius: 0.3rem;
    font-weight: 500;
}

.hero.show .explore-btn {
    opacity: 1;
    transform: translateY(0);
}

.explore-btn:hover {
    background-color: var(--undpds-color-blue-400);
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 1px;
}

#about {
    background-color: #00689d;
    text-transform: uppercase;
}

#countries {
    background-color: #00ff80;
    text-transform: uppercase;
}

#chatbot {
    background-color: #a200ff;
    text-transform: uppercase;
}

#documents {
    background-color: #ffa600;
    text-transform: uppercase;
}
